@model AdonetCoreMVC.CalisanListViewModel

@{
    ViewData["Title"] = "Ornek2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ornek2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Çalışanlar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Calisanlar) {
        <tr>
            <td>@item.Adi</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}

    </tbody>

    <table class="table">
    <thead>
        <tr>
            <th>Şehir</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sehirler) {
        <tr>
            <td>@item</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}

    </tbody>
</table>
